body{
    margin: 0;
    padding: 0;
    background-image: url("pocetnaslika.jpg");
}

.konacno{
    width: 500px;
    text-align: center;
    background-color: 3px solid gray;

}

.konacno p{

    display: block;
    margin-top: 300px;
    font-size: 20pt;
    font-weight: bold;
    color:red;
    font-family:monospace;
    border-style: solid;
    border-color:red;
    background-color: lightgray;
    border-radius: 20px;
    width: 300px;
    padding: 5px;

    
}