body{
    margin: 0;
    padding: 0;
    background-image: url("pocetnaslika.jpg");
}
.kvizpravila{
    width: 800px;
    margin-top: 300px;
    margin-bottom: 100px;
    text-align: center;
    padding: 10px;
    
    

    
}
p{
    font-size: 14pt;
    color:black;
    font-family:monospace;
    border-style: solid;
    border-color: darkcyan;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    
    
    

}
#start{
    background-color:whitesmoke;
    color:darkcyan;
    font-size: 18pt;
    font-family:monospace;
    margin: 60px 200px;
    width: 150px;
    border-color: darkcyan;
    border-radius: 20px;

}