body{
    margin: 0;
    padding: 0;
    background-image: url("pocetnaslika.jpg");
}
.kvizpravila{
    width: 600px;
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;
    padding: 10px;
    

    
}
p{
    font-size: 14pt;
    color: black;
    font-family:monospace;
    font-style: bold;
    

}
#start{
    background-color:whitesmoke;
    color:darkcyan;
    font-size: 18pt;
    font-family:monospace;
    margin: 20px 100px;
    width: 150px;

}